.blue {
    --mainColor: #E0EBFE;
    --hilightColor: #6D9BF5;
    --linkColor: #2979FF;
    --backgroundColor: #cfd5dc;
}

.pink {
    --mainColor: #fee0f5;
    --hilightColor: #f56ddc;
    --linkColor: #ff29cd;
    --backgroundColor: #dccfd8;
}

.yellow {
    --mainColor: #fcfee0;
    --hilightColor: #f5ca6d;
    --linkColor: #ffb429;
    --backgroundColor: #dedacc;
}

/* .green {
    --mainColor: #e0fee6;
    --hilightColor: #6ff56d;
    --linkColor: #29ff42;
    --backgroundColor: #cfdcd0;
} */

body {
    padding: 0px 40px;
    font-family: 'Montserrat', sans-serif;
    background: var(--backgroundColor);
}

p, li{
    color: #595959;
}

a {
    color: var(--linkColor);
}

.underlined {
    text-decoration: dashed underline;
}




.wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-gap: 0px;
    background: #fff;
    width: 80vw;
    margin: 0 auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    align-content: start;
}

/* Main Content */

.profile-name {
    margin: 16px 0px 24px 0px;
}

.main-content {
    padding: 88px;
    margin: 0 auto;
    width: auto;
    box-sizing: border-box;
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    background-image: url('assets/img/bg_main_content.png');
    background-repeat: repeat;
    background-position: top left;
}

.my-description {
    margin-bottom: 7vh;
}

.projects {
    margin-bottom: 5vh;
}

.work-experience {
    margin-bottom: 4vh;
}

ol, ul {
    padding-left: 20px;
    padding-right: 4px;
    margin: 8px 0px 8px 0px;
}

.bordered-list {
    border-radius: 5px;
    padding: 5px 0px;
    border: 1px dashed #A8A8A8;
}

.bottom-item {
    margin-bottom: 42px;
}

ol > li::marker {
    color: black;
    font-weight: bold;
}

.list-point {
    padding-left: 0px;
}

.spacing{
    letter-spacing: 2px;
    color: #A8A8A8;
}

.accent {
    color: var(--hilightColor);

}

.header {
    margin: 42px 0px 8px 0px;
}

.semiheader {
    margin: 2px 0px 8px 0px;
}

h5 {
    margin: 8px 0px;
}

.details {
    color: #A8A8A8;
    margin: 8px 0px;
    font-size: 12px;
}

.one-column-list {
  list-style-type: none;
  padding: 0;
}

.right-item {
    font-style: italic;
}

.list-point-description {
    margin: 3px 0px 16px 0px;
}



/* Sidebar */

.sidebar {
    display: grid;
    grid-template-rows: auto;
    width: 370px;
    background: var(--mainColor);
    background-image: url('assets/img/bg_sidebar.png');
    background-position: center center;
    background-size: contain;
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    z-index: 2;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

img {
    padding: 40px 0px;
}

.sidebar-text-content {
    padding: 0px 35px;
    color: #161D2A;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.sparkles {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
    width: inherit;
    height: auto;
}

.sidebar-text-content li {
    color: #161D2A;
    /* background: var(--mainColor); */
}

.sidebar-text-content .header {
    margin: 44px 0px 12px 0px;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.phone-number-link {
    text-decoration: none;
    color: #161D2A;
}

.e-mail-link, .phone-number-link {
    padding-left: 1vw;
}

.blue-bullet-points > li::marker {
    color: var(--hilightColor);
}

.bottom-sidebar-text{
    display: flex;
    flex-direction: column;
    height: auto;
}

.sidebar-last-quote {
    line-height: normal;
    margin-top: auto;
    align-self: flex-end;
    /* background: var(--mainColor); */
}

.centered-text {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
}

.menu-footer {
    grid-column: 1 / span 2;
    border-top: 1px solid #c1c1c1;
    width: auto;
    background: var(--mainColor);
    background-image: url('assets/img/bg_sidebar.png');
    padding: 16px;
    text-align: center;
    font-size: 12px;
    color: #595959;
    z-index: 2;
  }

.color-button {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 5px;
}

.blue-button {
    background: #6D9BF5;
    margin: 3px;
    filter: blur(3px);
}

.pink-button {
    background: #f56ddc;
    margin: 3px;
    filter: blur(3px);
}

.yellow-button {
    background: #f5ca6d;
    margin: 3px;
    filter: blur(3px);
}

.green-button {
    background: #6ff56d;
    margin: 3px;
    filter: blur(3px);
}

@media screen and (max-width: 768px) {
    body{
        font-size: 60%;
        padding: 1vh 2vw;
        margin: 0px;
    }

    .sidebar-text-content {
        font-size: 100%;
        margin: 3%;
        padding: 5%;
    }

    .sidebar-text-content .header {
        font-size: 140%;
        margin: 7%;
        padding: 5%;
    }

    .wrapper {
        width: 96vw;
    }

    .main-content {
        width: 48vw;
        padding: 10%;
    }

    .sidebar {
        width: 48vw;
    }

    img {
        width: 48vw;
        padding: 10% 0;
    }

    .details {
        font-size: 50%;
    }

    /* .one-column-list li{
        flex-direction: column;
        align-items: start;
    } */

    .menu-footer {
        font-size: 75%;
    }
  }

