svg {
  width: 100vw;
  height: 100vh;
  z-index: 2;
  position: fixed;
  pointer-events: none;
  top: 0px;
  left: 0px;
}

#darkGroup {
  fill: var(--hilightColor);
}

#lightGroup {
  fill: var(--mainColor);
}

#light1,
#light2{
  transform: translateY(-110%);
  width: 25vw;
  filter: blur(1px);
}

#dark1,
#dark2 {
  transform: translateY(110%);
  width: 25vw;
  
}

@keyframes up {
  from {
    transform: translateY(110%);
  }

  to {
    transform: translateY(-110%);
  }
}

@keyframes down {
  from {
    transform: translateY(-110%);
  }

  to {
    transform: translateY(110%);
  }
}

.run-animation #dark1,
.run-animation #dark2 {
  animation: down 3s ease;
  animation-direction: normal;
}

.run-animation #light1,
.run-animation #light2 {
  animation: up 3s ease;
  animation-direction: normal;
}