svg {
  width: 100vw;
  height: 100vh;
  z-index: 2;
  position: fixed;
  pointer-events: none;
  top: 0px;
  left: 0px;
}

#darkGroup {
  fill: var(--hilightColor);
}

#lightGroup {
  fill: var(--mainColor);
}

#light1,
#light2 {
  transform: translateY(-110%);
  width: 25vw;
  filter: blur(1px);
}

#dark1,
#dark2 {
  transform: translateY(110%);
  width: 25vw;

}

@keyframes up {
  from {
    transform: translateY(110%);
  }

  to {
    transform: translateY(-110%);
  }
}

.run-animation #dark1,
.run-animation #dark2 {
  animation: up 1.7s ease-in-out;
  animation-direction: reverse;
}

.run-animation #light1,
.run-animation #light2 {
  animation: up 1.7s ease-in-out;
  animation-direction: normal;
}

.accent.hidden {
  opacity: 1;
  transform: translateX(0);
  transition: color 3s;
}

.right-item.hidden {
  opacity: 0;
  transform: translateX(-70%);
  transition: transform 1s, opacity 1s;
}

.brain.hidden {
  opacity: 0;
  scale: 0.1;
  transition: opacity 1s, scale 1s;
}

.accent.show {
  color: var(--hilightColor);
}

.right-item.show {
  opacity: 1;
  transform: translateX(0);
}

.brain.show {
  opacity: 1;
  scale: 1;
}

.invisible {
  opacity: 0;
  transform: translateX(50%);
  transition: transform 1s, opacity 1s;
}

.visible {
  opacity: 1;
  transform: translateX(0);
}

.animated-points:nth-child(1) {
  transition-delay: 200ms;
}

.animated-points:nth-child(2) {
  transition-delay: 400ms;
}

.animated-points:nth-child(3) {
  transition-delay: 600ms;
}

.animated-points:nth-child(4) {
  transition-delay: 800ms;
}

.animated-points:nth-child(5) {
  transition-delay: 1000ms;
}

@media (prefers-reduced-motion) {
  body * {
    transition: none;
  }
}