body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: #18181b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hiddenBottom {
  opacity: 0;
  transform: translateY(80%);
  transition: transform 1s, opacity 0.8s;
}

.hiddenLeft {
  opacity: 0;
  transform: translateX(-10%);
  transition: transform 1s, opacity 0.8s;
}

.hiddenRight {
  opacity: 0;
  transform: translateX(10%);
  transition: transform 1s, opacity 0.8s;
}

.show {
  opacity: 1;
  transform: translateX(0) translateY(0);
  transition: transform 1s, opacity 0.8s;
}

.navigation-button {
  cursor: pointer;
}

option {
  color: rgb(113, 28, 193);
}